.row{
	background-color:black;
	height:30px;
}

.f1{	
	color:#93c83f;
	margin-top:5px;
	font-size:15px;
	padding-left:30px;
}

.f2{	
	color:#93c83f;
	margin-top:5px;
	font-size:15px;
	padding-left:10px;
}
.b{
	color: #b0b0b0;
}

.navbar{
		background-color:#88cc00;
		height:80px;
}

.i{
	height:70px;
	margin-top:-5px;
}

.i2{
	height:700px;
}

h5{
	color: black;
	padding-left:35px;
	font-weight:bold;
}
h5:hover{
	color:white;
}
.t{
	background-color:rgba(0,0,0,0.3);
	width:250px;
	margin-left:407px;
}
.fo{
	background-color:black;
	height:45px;
	color:white;
}