<div class="back">
	<h1 class="text-white text-center">MEET THE TEAM</h1>
	<p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus<br> vitae massa semper aliquam quis mattis quam.</p>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<img class="img" src="../assets/img/sir.jpg">
					<h3 class="text-white text-center">Vilas Shetkar</h3>
						<h5 class="text-white text-center">CEO,<br>Managing Director</h5>
						<p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
				</div>
				<div class="col-sm-3">
					<img class="img" src="../assets/img/mam.jpg">
					<h3 class="text-white text-center">Ashwini Shetkar</h3>
					<h5 class="text-white text-center">Director</h5>
					<p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
				</div>
				<div class="col-sm-3">
					<img class="img" src="../assets/img/img3.jpg">
					<h3 class="text-white text-center">Jully Dow</h3>
					<h5 class="text-white text-center">Designer</h5>
					<p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
				</div>
				<div class="col-sm-3">
					<img class="img" src="../assets/img/img4.jpg">
					<h3 class="text-white text-center">Vintes Mars</h3>
					<h5 class="text-white text-center">Designer</h5>
					<p class="text-white text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</p>
				</div>
			</div>
		</div>
</div>