
<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/img/art11.jpg" alt="Random first slide">
		<div class="carousel-caption">
			<div class="t">
			  <h3>Art,Craft & Hobby</h3>
			 </div>
		</div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/soft.jpg" alt="Random second slide">
		<div class="carousel-caption">
			<div class="t">
			  <h3>Computer</h3>
			 </div>
		</div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/cook11.jpg" alt="Random third slide">
		<div class="carousel-caption">
			<div class="t">
			  <h3>Cooking</h3>
			</div>
		</div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/img/robo.jpg" alt="Random third slide">
		<div class="carousel-caption">
			<div class="t">
			  <h3>Science & Robotics</h3>
		</div>
		</div>
  </ng-template>
</ngb-carousel>


<body>
	<h1>Mharashtra Mission Education And Career</h1>
		<div class="container">
			<h2>"Efficient Website Designing With The Most Effective Outcomes"</h2><br>
				<p>Web Touch India Solutions. Founded in 2010, has more than 6+ years of experience in the Web Development and IT Services. Web Touch India Solutions have highly skilled employee. Web Touch India Solutions is a speedily growing company in Pune City. </p>   
				<p>We fulfilling the requirements of the customers in the areas of web site designing and development, Web Application Development (ASP.NET, PHP), Mobile Application Development (Android, iOS, Windows).We also provide service for Print Media. We offer Brochures design, Logo design, Press Advertisements, CD Rom / Corporate Multimedia Presentations, etc., Custom made designs to suit your unique business needs and requirements.Alternatively if you are looking for something a little more specific; outline your ideas for us and our designers and developers can create a bespoke professional brochure, website as per your requirementsAlso Web Touch India Solutions is developing Educational Online Portal for Students from primary to higher education. It helps students for self-study, self-improvement & self-development.Result-oriented approach for web design and management, aiming to achieve the best outcomes</p>
		</div>
</body>