body{
		/*background-color:#c4ff4d;*/
		background: linear-gradient(to right, #66ff99, #66ff33);
		border:1px solid black;
		margin-top:0px;
		padding:30px 70px 25px 70px;
}
@font-face{
		font-family:myfont;
		src:url("/assets/font/Adine Kirnberg.ttf");
}
h1{
	text-align:center;
	font-family:myfont;
	font-size:100px;
	color:navy;
	font-weight:bold;
	border-bottom:1px solid black;
}
h2{
	text-align:center;
	font-family:myfont;
	color:#ff0055;
	font-size:50px;
	font-weight:bold;
}
p{
	text-indent:50px;
	font-size:20px;
}

