.back{
	padding:20px;
	background: linear-gradient(to right, #66ff99, #66ff33);
	border:1px solid black;
}
@font-face{
		font-family:myfont;
		src:url("/assets/font/Adine Kirnberg.ttf");
}
h1{
	font-weight:bold;
	font-family:myfont;
	font-size:100px;
	color:navy;
}
h6{
	font-size:28px;
	color:black;
	margin-top:70px;
}
.btn{
	margin-left:250px;
}
.con{
	/*background-color:white;*/
	margin-top:43px;
	padding:20px;
	margin-left:-3px
}
.text{
	background-color:#93c83f;
	padding:12px;
	border-radius:41%;
	width:50px;
	height:50px;
	text-align:center;
	margin:3px;
	
	font-size:26px;
	color:black;
	display:inline-block;
}
.fab1{
	margin-left:277px;
	margin-top:-16px;
}
.text1{
	text-align:center;
	font-size:25px;
	font-weight:bold;
	margin-bottom:40px;
	margin-left: 194px;
}
.text:hover{
	color:white;
}
iframe{
	margin-left: -149px;
	margin-bottom: 76px;
	margin-top: 66px;
	width: 720px;
	height: 352px;
}