<div class="back">
		<h1>Contact Us</h1>
		<p class="text-center text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa<br> semper aliquam quis mattis quam.</p>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			  <div class="col-sm-10">
				<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<form class="mt-5">
								<input type="fname" class="form-control" name="fname" placeholder="Your Name.."><br>
								<input type="email" class="form-control" name="email" placeholder="Your Email Address.."><br>
								<input type="text" class="form-control" name="sub" placeholder="Subject.."><br>
								<textarea class="form-control" name="msg" placeholder="Message.." rows="10"></textarea><br>
								<input type="submit" class="btn btn-success" value="SEND">
							</form>
						</div>
						<div class="col-sm-2"></div>
				</div>
			  </div>
			  <div class="col-sm-1"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-7 con">
				<h5 class="text1">Connect With Us</h5>
				<div class="fab1">
					<a href="#" class="fab fa-facebook-f text"></a>
					<a href="#" class="fab fa-linkedin-in text"></a>
					<a href="#" class="fab fa-twitter text"></a>
					<a href="#" class="fab fa-instagram text"></a>
					<a href="#" class="fab fa-google-plus-g text"></a>
				</div>
			</div>
			<div class="col-sm-3"></div>
			<div class="col-sm-1"></div>
		</div>

	</div>
	
	<div class="container">
		<div class="row">
				<div class="col-sm-4">
				<h6>Our Address</h6>
				<div class="text-black">Power House Chowk,<br>Near Morya Hospital,<br>Chinchwadgaon,Pune-411033<br><br>Mob No.9899776655</div>
			</div>
			<div class="col-sm-8">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.8185277910516!2d73.7796950148943!3d18.62723038734701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf1a116cc9a98f35d!2sMaharashtra+Mission+Education+%26+Career!5e0!3m2!1sen!2sin!4v1525070558511" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
