.back{
	background-color::#f5f5f5;
	text-align:center;
	
}/*
@font-face{
		font-family:myfont;
		src:url("/assets/font/Adine Kirnberg.ttf");
}*/
h1{
	font-weight:bold;
	color:white;
	background-color:#93c83f;
	padding-bottom:20px;
	padding-top:25px;
}
h6{
	font-size:28px;
	color:black;
	margin-top:70px;
}
.btn{
	margin-left:-24px;
}
.con{
	/*background-color:white;*/
	margin-top:43px;
	padding:20px;
	margin-left:-3px
}
.text{
	background-color:#93c83f;
	padding:12px;
	border-radius:41%;
	width:50px;
	height:50px;
	text-align:center;
	margin:3px;
	
	font-size:26px;
	color:#787878;
	display:inline-block;
}
.fab1{
	margin-left:232px;
	margin-top:-16px;
}
.text1{
	text-align:center;
	font-size:25px;
	font-weight:bold;
	margin-bottom:40px;
	margin-left: 234px;
}
.text:hover{
	color:white;
}
iframe{
	margin-left: -54px;
margin-top: 76px;
margin-bottom:48px;
width: 822px;
height: 293px;
}
p{
	margin-bottom: -10px;
	padding-top: 60px;
	text-align:center;
}
.row.col1{
	margin-left:-169px;
}