<div class="back">
		<h1 class="text-center text-black">Contact Us</h1>
		<p class="text-center text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa<br> semper aliquam quis mattis quam.</p>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			  <div class="col-sm-10">
				<div class="row">
						<div class="col-sm-8">
							<form class="mt-5">
								<input type="fname" class="form-control" name="fname" placeholder="Your Name.."><br>
								<input type="email" class="form-control" name="email" placeholder="Your Email Address.."><br>
								<input type="text" class="form-control" name="sub" placeholder="Subject.."><br>
								<textarea class="form-control" name="msg" placeholder="Message.." rows="10"></textarea><br>
								<input type="submit" class="btn btn-success" value="SEND">
							</form>
						</div>
					<div class="col-sm-4">
						<h6>Our Address</h6>
						<div class="text-black">Power House Chowk,<br>Near Morya Hospital,<br>Chinchwadgaon,Pune-411033<br><br>Mob No.9899776655</div>
					</div>
					
				</div>
			  </div>
			  <div class="col-sm-1"></div>
			</div>
			</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-7 con">
				<h5 class="text1">Connect With Us</h5>
				<a href="#" class="fab fa-facebook-f text"></a>
				<a href="#" class="fab fa-linkedin-in text"></a>
				<a href="#" class="fab fa-twitter text"></a>
				<a href="#" class="fab fa-instagram text"></a>
				<a href="#" class="fab fa-google-plus-g text"></a>
			</div>
			<div class="col-sm-3"></div>
			<div class="col-sm-1"></div>
		</div>

	</div>
</div>
