.back{
	background-color:#304313;
	margin-top:-20px;
	padding:20px;
}
.marg{
	margin-top:70px;
}
.but{
	margin-left:215px;
	font-size:18px;
	background-color:#93c83f;
	color:white;
	letter-spacing:5px;
	padding:10px 20px 10px 20px;
	text-trasform:uppercase;
	border-radius:2px;
	font-weight:600;
}
.but:hover{
	opacity:0.8;
}
h6{
	font-size:28px;
	color:white;
	margin-top:70px;
}
.w{
	color:white;
}
.con{
	background-color:white;
	margin-top:80px;
	padding:20px;
}
.text{
	color:black;
	font-size:25px;
	padding-right:15px;
	margin-left:55px;
}
.text1{
	text-align:center;
	font-size:25px;
	font-weight:bold;
	margin-bottom:40px;
}
.text:hover{
	color:#93c83f;
}