<body>

<h1>Our Courses</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident,doloribus omnis<br> minus ovident, doloribus omnis minus temporibus perferendis nesciunt..
	</p>
	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img class="img" src="../assets/img/comp.jpg">
			<div class="box">
				<div class="row">
				<h2>COMPUTER</h2>
					<div class="col-md-6">
						 <ul style="list-style-type:square">
								 <a routerLink = "/course/photoshop" class="nav-link"><h5><li>PhotoShop</li></h5></a>
								<a routerLink = "Computer" class="nav-link"><h5><li>Tally ERP-9</li></h5></a>
								 <a routerLink = "/course/coreldraw" class="nav-link"><h5><li>CorelDRAW</li></h5></a>
						</ul>
					</div>
					<div class="col-md-6">
						 <ul class="u" style="list-style-type:square">
								 <a routerLink = "Computer" class="nav-link"><h5><li>Web Designing</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>MS-Office</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>MS-Excel</li></h5></a>
						 </ul>
					</div>
				 </div>
				</div>
		</div>
		<div class="col-md-4">
			<img class="img" src="../assets/img/art.jpg">
			<div class="box">
				<div class="row">
					<h2>ART,CRAFT & HOBBY</h2>
					<div class="col-md-6">
						<ul style="list-style-type:square">
							<a routerLink = "Computer" class="nav-link"><h5><li>HandCraft</li></h5></a>
							<a routerLink = "Computer" class="nav-link"><h5><li>Drawing</li></h5></a>
							<a routerLink = "Computer" class="nav-link"><h5><li>Painting</li></h5>
							</a>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="u" style="list-style-type:square">
							<a routerLink = "Computer" class="nav-link"><h5><li>Mehandi</li></h5></a>
							<a routerLink = "Computer" class="nav-link"><h5><li>Rangoli</li></h5></a>
							<a routerLink = "Computer" class="nav-link"><h5><li>Embroidery</li></h5></a>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<img class="img" src="../assets/img/cook.jpg">
			<div class="box">
				<div class="row">
				<h2>COOKING</h2>
					<div class="col-md-6">
						 <ul class="u1" style="list-style-type:square">
								 <a routerLink = "Computer" class="nav-link text-black"><h5><li>Snacks</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Starter</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Desert</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Soup</li></h5></a>
						</ul>
					</div>
					<div class="col-md-6">
						 <ul class="u u1" style="list-style-type:square">
								 <a routerLink = "Computer" class="nav-link"><h5><li>Breakfast</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Main Course</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Drinks</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Cake,Chocolates</li></h5></a>
						 </ul>
					</div>
				 </div>
				</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<img class="img" src="../assets/img/sci.jpg">
			<div class="box1">
				<div class="row">
				<h4>SCIENCE & ROBOTICS</h4>
					<div class="col-md-6">
						 <ul style="list-style-type:square">
								 <a routerLink = "Computer" class="nav-link"><h5><li>Science Experiments</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Robotics</li></h5></a>
						</ul>
					</div>
					<div class="col-md-6">
						 <ul class="u" style="list-style-type:square">
								 <a routerLink = "Computer" class="nav-link"><h5><li>Electronic</li></h5></a>
								 <a routerLink = "Computer" class="nav-link"><h5><li>Daily Life Science</li></h5></a>
						 </ul>
					</div>
				 </div>
				</div>
		</div>
		<div class="col-md-5">
			<img class="img" src="../assets/img/soft.jpg">
			<div class="box1">
				 <div class="row">
					<h3>SOFTWARE & WEB DEVELOPMENT</h3>
						<div class="col-md-6">
						<ul style="list-style-type:square">
							<a routerLink = "Computer" class="nav-link"><h5><li>Website Development</li></h5></a>
							<a routerLink = "Computer" class="nav-link"><h5><li>Web Application</li></h5></a>
							
						 </ul> 
					 </div>
					 <div class="col-md-6">
						 <ul class="u" style="list-style-type:square">
							<a routerLink = "Computer" class="nav-link"><h5><li>Mobile App Development</li></h5></a>
							<a routerLink = "Computer" class="nav-link"><h5><li>Software Development</li></h5></a>
						</ul>
					 </div>
				 </div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	</div>
</body>	